streamlit
streamlit-option-menu
pyngrok
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
joblib
shap
PyPDF2
faiss-cpu
sentence-transformers
google-generativeai
networkx
dgl
plotly
umap-learn
adjustText
torch
transformers
