streamlit
streamlit-option-menu
pyngrok
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
joblib
shap
PyPDF2
faiss-cpu
sentence-transformers
google-generativeai
networkx
dgl
plotly
umap-learn
adjustText
os
sqlite3
json
sklearn
torch
transformers
sklearn-metrics-pairwise
sklearn-model-selection 
sklearn-ensemble 
sklearn-preprocessing 
matplotlib.pyplot
PIL
zipfile
base64